<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>유저 목록</title>
</head>
<body>
<h1>유저 목록</h1>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>ID</th>
        <th>email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/save}" method="post">
    <label>
        이름
        <input type="text" name="username" />
    </label>
    <label>
        이메일
        <input type="email" name="email" />
    </label>
    <label>
        비밀번호
        <input type="password" name="password" />
    </label>
    <button type="submit">저장</button>
</form>
</body>
</html>